{
  "rules": {
    "number-leading-zero": "never",
    "rule-nested-empty-line-before": "never-multi-line",
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-pseudo-class-no-unknown": [
      true,
      ignorePseudoClasses: ["horizontal"]
    ]
  }
}
